*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: antiquewhite; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

header .navBox{
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.89);
    width: 100%;
    margin-bottom: 20px;
}
header nav{
    /* border: 2px dotted red; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px;
}

header nav #theme{
    cursor: pointer;
    display: flex;
    align-items: center;
}
header nav #theme span{
    margin-left: 10px;
}



header .search-container{
    /* border:3px solid red; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

header .search-container .inputDiv{
    /* border: 3px solid red; */
    width: 50%;
}

header .search-container .inputDiv input{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 4px black;
    width: 50%;
    outline: none;
    /* border: none; */
}
header .search-container .dropDown{
    width: 50%;
    /* border: 3px dotted red; */
    display: flex;
    justify-content: end;
    outline: none;
    /* align-items: flex-end; */
}
header .search-container .dropDown #filter-dropdown{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    width: 50%;
    cursor: pointer;
    /* border: 1px solid black; */
}
main{
    /* border: 2px solid black; */
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
    grid-gap: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

main .container{
    /* border: 2px solid red; */
    box-shadow: 1px 1px 4px black;
    /* padding: 10px; */
    height: max-content;
    width: max-content;
    border-radius: 8px;
}

main .container .image{
    height: 50%;
    margin-bottom:10px;
}
img{
    width: 100%;
}
main .container .info{
    margin: 0px 8px 10px;
}

main .container .info h3{
    font-size: 1.2rem;
    font-weight: 800;
    margin: 10px 0px; 
}

main .container .info p{
    font-size: 1.1rem;
    margin: 10px 0px;
}
main .container .info .bold{
    font-weight: 600;
    /* border: 3px solid; */
}

main .container .info .faint{
    font-weight: 400;
    color: rgb(65, 71, 68);
}


/* dark mode styles */

body.darkMode {
    background-color: hsl(207, 26%, 17%);
    color: rgb(255, 255, 255);
}

body.darkMode main .container {
    background-color: hsl(207, 26%, 17%);
    box-shadow: 1px 1px 6px black;
}

body.darkMode .inputDiv #country{
    background-color: hsl(207, 26%, 17%);
    color: aliceblue;
}

body.darkMode #filter-dropdown{
    background-color: hsl(207, 26%, 17%);
    color: aliceblue;
}
